[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
[submodule "pbulic"]
	path = pbulic
	url = https://github.com/gnshjoo/gnshjoo.github.io.git
	branch = master
