{{ define "main" }}
<section class="section">
  <article>
    <div class="columns is-centered">
      <div class="column max-800px">
        <h1 class="title is-1">{{ .Title }}</h1>
        <div class="title subtitle heading is-6">
          <div class="columns is-vcentered">
            <div class="column">
              <div class="columns is-vcentered is-mobile">
                {{ with .Site.Params.authorImage }}
                <div class="column is-narrow">
                  <img src="{{ . }}" class="author-image" alt="author" />
                </div>
                {{ end }}
                <div class="column">
                  <p>{{ .Site.Params.Author }}</p>
                  <p>
                    <time>{{ .PublishDate.Format "January 2, 2006" }}</time> |
                    {{ .ReadingTime }} {{ if eq .ReadingTime 1 }} minute {{ else
                    }} minutes {{ end }}
                  </p>
                </div>
              </div>
            </div>
            <div class="column">
              {{ range $idx, $category := .Params.categories }} {{- if ne $idx 0
              }} {{ end }}
              <span
                style="
                  display: inline-flex;
                  border-radius: 20px;
                  padding: 8px;
                  font-size: 10px;
                  border: 1px solid gray;
                "
                >{{ $category }}</span
              >
              {{- end }}
            </div>
          </div>
        </div>

        <div class="content">{{ .Content }}</div>
      </div>
      <aside>
        <div class="aside">{{ .TableOfContents }}</div>
      </aside>
    </div>

    <section class="section">
      <div class="columns is-centered">
        <div class="column max-800px">
          <div class="columns is-mobile">
            <div class="column has-text-left">
              {{ with .PrevInSection }}
              <p>Previous post</p>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
            </div>
            <div class="column has-text-right">
              {{ with .NextInSection }}
              <p>Next post</p>
              <a href="{{ .Permalink }}">{{ .Title }}</a>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="columns is-centered">
        <div class="column max-800px">
          <script
            src="https://giscus.app/client.js"
            data-repo="gnshjoo/blog-comments"
            data-repo-id="MDEwOlJlcG9zaXRvcnkyMzI1NTA2MDk="
            data-category="[ENTER CATEGORY NAME HERE]"
            data-category-id="[ENTER CATEGORY ID HERE]"
            data-mapping="pathname"
            data-strict="0"
            data-reactions-enabled="0"
            data-emit-metadata="0"
            data-input-position="bottom"
            data-theme="light_high_contrast"
            data-lang="ko"
            crossorigin="anonymous"
            async
          ></script>
        </div>
      </div>
    </section>
  </article>
</section>
{{ end }}
